:root {
    --course-teacher-color: rgb(11, 94, 248);
    --author-name: cornflowerblue;
    --card-color: #f6f8f9;
    --content-color: #777;
    --introduction-color: #666;
    --date-color: #999;
    --background-color: #ffffff;
    --border-color: rgba(0, 0, 0, 0.1);
    --read-more-color: rgb(74, 129, 222);
}